body,
ul,
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-style: normal;
}

/* main box*/
.box {
  margin: 100px 100px;
  padding: 20px;
  border: solid rgb(146, 112, 112);
  border-radius: 20px;
  box-shadow: 10px 10px rgb(146, 112, 112);
  background-color: #a9808033;
}

h1 {
  margin: 10px 0px 50px 0px;
}

p {
  margin: 20px;
  font-size: 17px;
}

h2 {
  margin: 30px 0px 20px 0px;
}

h3 {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
}

/* Style for the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 2px black;
  opacity: 90%;
}

/* Style for the unordered list */
ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
}

ul li {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #9571713c;
  border: 1px solid #ad8686;
}

/* || MOBILE DEVICE LANDSCAPE  RED*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  body,
ul,
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-style: normal;
}

/* main box*/
.box {
  margin: 100px 100px;
  padding: 20px;
  border: solid rgb(146, 112, 112);
  border-radius: 20px;
  box-shadow: 10px 10px rgb(146, 112, 112);
  background-color: red;
}

h1 {
  margin: 10px 0px 50px 0px;
}

p {
  margin: 20px;
  font-size: 17px;
}

h2 {
  margin: 30px 0px 20px 0px;
}

h3 {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
}

/* Style for the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 2px black;
  opacity: 90%;
}

/* Style for the unordered list */
ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
}

ul li {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #9571713c;
  border: 1px solid #ad8686;
}
}


/* || SMALL SCREEN ORANGE */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  body,
ul,
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-style: normal;
}

/* main box*/
.box {
  margin: 100px 100px;
  padding: 20px;
  border: solid rgb(146, 112, 112);
  border-radius: 20px;
  box-shadow: 10px 10px rgb(146, 112, 112);
  background-color: orange;
}

h1 {
  margin: 10px 0px 50px 0px;
}

p {
  margin: 20px;
  font-size: 17px;
}

h2 {
  margin: 30px 0px 20px 0px;
}

h3 {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
}

/* Style for the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 2px black;
  opacity: 90%;
}

/* Style for the unordered list */
ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
}

ul li {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #9571713c;
  border: 1px solid #ad8686;
}
}

/* || MEDIUM SCREEN BROWN*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body,
ul,
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-style: normal;
}

/* main box*/
.box {
  margin: 100px 100px;
  padding: 20px;
  border: solid rgb(146, 112, 112);
  border-radius: 20px;
  box-shadow: 10px 10px rgb(146, 112, 112);
  background-color: brown;
}

h1 {
  margin: 10px 0px 50px 0px;
}

p {
  margin: 20px;
  font-size: 17px;
}

h2 {
  margin: 30px 0px 20px 0px;
}

h3 {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
}

/* Style for the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 2px black;
  opacity: 90%;
}

/* Style for the unordered list */
ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
}

ul li {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #9571713c;
  border: 1px solid #ad8686;
}
}

/* || LARGE SCREEN BLUE */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  body,
ul,
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-style: normal;
}

/* main box*/
.box {
  margin: 100px 100px;
  padding: 20px;
  border: solid rgb(146, 112, 112);
  border-radius: 20px;
  box-shadow: 10px 10px rgb(146, 112, 112);
  background-color: blue;
}

h1 {
  margin: 10px 0px 50px 0px;
}

p {
  margin: 20px;
  font-size: 17px;
}

h2 {
  margin: 30px 0px 20px 0px;
}

h3 {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
}

/* Style for the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 2px black;
  opacity: 90%;
}

/* Style for the unordered list */
ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
}

ul li {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #9571713c;
  border: 1px solid #ad8686;
}
}

/* || XL SCREEN GREEN*/
@media only screen and (min-width: 1201px) {
  body,
ul,
h1,
h2,
h3,
p {
  text-align: center;
  margin: 0;
  padding: 0;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 500;
  font-style: normal;
}

/* main box*/
.box {
  margin: 100px 100px;
  padding: 20px;
  border: solid rgb(146, 112, 112);
  border-radius: 20px;
  box-shadow: 10px 10px rgb(146, 112, 112);
  background-color: green;
}

h1 {
  margin: 10px 0px 50px 0px;
}

p {
  margin: 20px;
  font-size: 17px;
}

h2 {
  margin: 30px 0px 20px 0px;
}

h3 {
  margin: 50px 0px 0px 0px;
  font-size: 20px;
}

/* Style for the image */
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: solid 2px black;
  opacity: 90%;
}

/* Style for the unordered list */
ul {
  list-style-type: none;
  padding: 20px;
  margin: 5px;
}

ul li {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 7px;
  background-color: #9571713c;
  border: 1px solid #ad8686;
}
}
